.beauty_skin{
    text-align: center;
}
.beauty_skin_tittle{
    font-size: 28px;
    color: #000000;
    letter-spacing: 10px;
    padding-top: 30px;
    padding-bottom: 60px;
    margin: 0 auto;
}